body {
  background-image: url('https://i.imgur.com/AoZ18jU.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body fills the viewport height */
}

.container {
  width: auto; /* Set width to auto to allow flexbox to determine width */
  height: auto; /* Set height to auto to allow flexbox to determine height */
  background: linear-gradient(135deg, #00bcd4, #4db6ac); /* Aqua gradient mix */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  display: flex; /* Make the container a flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white; /* Set text color to white for better contrast */
  font-size: 24px; /* Set desired font size */
  font-family: 'Poppins', sans-serif; /* Set desired font family */
}

h1 {
  color: #343a40; /* Dark gray */
}

label {
  color: #495057; /* Gray */
}

.centered-textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da; /* Light gray */
  border-radius: 5px;
  resize: none;
}

.btn-primary {
  background-color: #007bff; /* Aqua blue */
  border: 1px solid #007bff; /* Aqua blue */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border: 1px solid #0056b3; /* Darker blue on hover */
}

.success-message {
  color: green; /* Green */
  margin-top: 10px;
}

.footer {
  background-color: rgba(0, 188, 212, 0.7); /* Aqua with opacity */
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #555; /* Dark gray */
  margin-top: 50px;
  border-top: 1px solid #ccc; /* Light gray */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  display: inline-block;
  margin-right: 30px;
}

.container-buttons {
  margin-top: 20px;
  text-align: center;
}

.container-buttons .btn {
  margin: 5px;
}

#result {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.center-placeholder::placeholder {
  text-align: center;
}

.form-check {
  display: flex;
  margin-top: 10px;
  padding: 14px;
  align-items: center;
  border: 1px solid #ccc; /* Light gray */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-color: #ccc; /* Light gray */
  background-color: #fff; /* White */
}

.form-check:hover {
  background-color: #f0f0f0; /* Light gray on hover */
  border-color: #333; /* Dark gray on hover */
}

.form-check-input {
  margin-right: 10px;
  opacity: 0;
}

.disable {
  display: none;
}

#inputOfPrefix,
#inputOfAdmin {
  padding: 13px;
  width: 200px;
  border: 1px solid #ccc; /* Light gray */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-color: #ccc; /* Light gray */
  background-color: #fff; /* White */
}

#listOfCommands,
#listOfCommandsEvent,
#prefixOfCommands,
#adminOfCommands {
  border: none !important;
}

#listOfCommands:not(.modal),
#listOfCommandsEvent:not(.modal),
#prefixOfCommands:not(.modal),
#adminOfCommands:not(.modal) {
  box-shadow: none !important;
}
